<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lft.training.servicebasics">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BoundServiceActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.lft.training.servicebasics.action.OPEN" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BasicServiceActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"/>

        <service android:name=".BoundServiceDemo" />
        <service
            android:name="com.lft.training.servicebasics.BasicService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.test" />
            </intent-filter>

        </service>
        <service android:name=".BasicIntentService" />

        <service android:name=".BasicForegroundService" />
    </application>

</manifest>
